#mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  height: 100vh;
}


#mobile-menu.active {
  transform: translateX(0);
}



.bg-hover {
  background: linear-gradient(to right, #03a4ed 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
}

.bg-hover:hover {
  background-position: left bottom;
}


/* Backdrop hidden by default */
.backdrop {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


/* Default navbar styles */
nav {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Navbar styles when scrolled */
nav.scrolled {
  background-color: rgba(0, 0, 0, 0.9); /* Slightly different background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Add shadow */
}








